OPENAI_API_KEY=
GC_CLI_DEFAULT_CURRENCY=INR
GC_CLI_SWEEP_SECS=180
GC_CLI_SWEEP_AGE_MINS=3
GC_CLI_PURGE_DAYS=5
GC_CLI_SYSTEM_PROMPT="\nWhen unclear on what to do use the tool for accounting hints\n"
GC_CLI_COMMODITY_NAMESPACE=NSE
GC_CLI_ACCOUNTING_HINTS="If a Stock is being bought and if the Credit account is not specified,
it should be the nearest parent account that is NOT named as 'Stocks'.
If the currency is not mentioned in any situation, use INR.
If you had to a Credit account for Cash withdrawals, use the ICICIBank account.
Any Cash withdrawals from ATM should go to some Cash-in-Hand account"

